<wm-page name="page1" data-ng-controller="MainPageController">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1">
                        <wm-livegrid service="cropdata@CropData" name="CropDataLivegrid1">
                            <wm-grid dataset="bind:Variables.CropdataCropDataData.dataSet" name="CropDataGrid1" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false">
                                <wm-grid-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="country" caption="Country" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="year" caption="Year" type="date" readonly="false" datepattern="yyyy-MM-dd" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="crop" caption="Crop" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="prod" caption="Prod" type="integer" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="quarter" caption="Quarter" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-action key="addNewRow" label="New" value="new" icon="new" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform formtype="inline" dataset="bind:Variables.CropdataCropDataData.dataSet" name="CropDataLiveform1" novalidate="false" title="Details">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow show="hide" name="gridrow1">
                                        <wm-gridcolumn show="show" name="gridcolumn1" columnwidth="12">
                                            <wm-form-field display-name="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow show="show" name="gridrow2">
                                        <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                            <wm-form-field display-name="Country" show="true" primary-key="false" generator="null" key="country" type="string" maxvalue="10" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow show="show" name="gridrow3">
                                        <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12">
                                            <wm-form-field display-name="Year" show="true" primary-key="false" generator="null" key="year" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow show="show" name="gridrow4">
                                        <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12">
                                            <wm-form-field display-name="Crop" show="true" primary-key="false" generator="null" key="crop" type="string" maxvalue="10" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow show="show" name="gridrow5">
                                        <wm-gridcolumn show="show" name="gridcolumn5" columnwidth="12">
                                            <wm-form-field display-name="Prod" show="true" primary-key="false" generator="null" key="prod" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow show="show" name="gridrow6">
                                        <wm-gridcolumn show="show" name="gridcolumn6" columnwidth="12">
                                            <wm-form-field display-name="Quarter" show="true" primary-key="false" generator="null" key="quarter" type="string" maxvalue="10" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="Submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
</wm-page>